{% extends 'base.html' %}

{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Регистрация</h1>
					<nav class="d-flex align-items-center">
						<a href="{% url 'home' %}">Главная<span class="lnr lnr-arrow-right"></span></a>
						<a href="">Регистрация</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="{% static 'img/login.jpg' %}" alt="">
						<div class="hover">
							<h4>Уже есть аккаунт?</h4>
							<a class="primary-btn" href="registration.html">ВОЙТИ</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Регистрация</h3>
						<form class="row login_form" method="post" id="contactForm" novalidate="novalidate">
							{% csrf_token %}
							<input type="hidden" name="next" value="{{ next }}">
							<div class="form-error" style="color: red;">{{ form.non_field_errors }}</div>
							{% for f in form %}
							<div class="col-md-12 form-group">
								<p>{{ f }}</p>
							</div>
							<div class="form-error" style="color: red;">{{ f.errors }}</div>
							{% endfor %}
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Зарегистрироваться</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->
{% endblock %}